.fooName {
  color: #ffffff;
  transition: color 0.3s ease;
}

.fooName:hover {
  color: #ffffff; /* Mantiene blanco, pero con transición suave */
}

.social-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.facebook:hover .social-icon {
  transform: scale(1.2);
  opacity: 0.9;
}

.instagram:hover .social-icon {
  transform: scale(1.2);
  opacity: 0.9;
}

.linkendin:hover .social-icon {
  transform: scale(1.2);
  opacity: 0.9;
}

footer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: border-radius 0.6s ease;
}
footer:hover {
  border-radius: 25px;
}

/* -------- Responsividad -------- */
@media (max-width: 768px) {
  .social-icon:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {
  .social-icon:hover {
    transform: none;
    opacity: 1;
  }
}
