.imageFrontened {
  width: 100%;
  /* background-image: url(`${import.meta.env.BASE_URL}pixelcut-export.png`); */
}

.button-arrow {
  font-size: 5.3rem;
  position: absolute; /* Fija el botón en la pantalla */
  bottom: 1px; /* Distancia desde la parte inferior */
  right: 41px; /* Distancia desde la parte derecha */
  background: none;
  padding: 0px;
  color: #fff;
  transition: transform 0.3s ease;
}

.button-arrow:focus,
.button-arrow:hover {
  transform: scale(1.2);
  border: none;
  outline: none;
  box-shadow: none;
}
