.imageFrontened {
  width: 100%;
  background-image: url("/public/pixelcut-export.png");
}

.boton-flecha {
  font-size: 5.3rem;
  position: absolute; /* Fija el botón en la pantalla */
  bottom: 1px; /* Distancia desde la parte inferior */
  right: 41px; /* Distancia desde la parte derecha */
  background: none;
  padding: 0px;
  color: #fff;
  transition: transform 0.3s ease;
}

.boton-flecha:focus,
.boton-flecha:hover {
  transform: scale(1.1); /* Agrandar un 5% */

  border: none;
  outline: none;
  box-shadow: none;
}
