.p {
  font-size: 4rem;
  color: #1848a0;
  text-shadow:
    -1px -1px 1px rgba(24, 72, 160, 0.7),
    /* Sombra más suave */ 1px 1px 1px rgba(24, 72, 160, 0.7),
    -2px -2px 2px rgba(24, 72, 160, 0.5),
    2px 2px 2px rgba(24, 72, 160, 0.5); /* Múltiples capas de sombras para suavidad */
}

.h1-projects {
  transition: transform 0.3s ease; /* Agregamos la transición para ambas acciones */
}

.h1-projects:hover {
  transform: scale(1.1);
}

.info {
  max-width: 600px;
}

.context {
  background-color: #1848a0;
}
.context:hover {
  border: none;
}

.buttons-links:focus,
.buttons-links:active {
  outline: none;
}

.button-arrow:focus,
.button-arrow:active {
  box-shadow: none;
}

.buttons-github {
  font-size: 1.3rem;
  margin-top: 10px;
  background: none;
  border: none; /* Elimina cualquier borde */
  outline: none; /* Evita el contorno de enfoque */
  box-shadow: none;
}

.buttons-github:focus,
.buttons-github:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
